:root {
  // Using a CSS var instead of an SCSS var here
  // so that the color can be changed easily in the
  // dev console
  --hue: 309deg;
}

$bg-color: hsl(var(--hue), 100%, 15%);
$text-color: hsl(var(--hue), 100%, 90%);
$ease-expo: cubic-bezier(0.16, 1, 0.3, 1);
