@font-face {
  font-family: 'AvenirNextLTPro-Regular';
  src: url(../fonts/AvenirNextLTPro-Regular.otf);
}

@font-face {
  font-family: 'AvenirNextLTPro-Bold';
  src: url(../fonts/AvenirNextLTPro-Bold.otf);
}

body {
  margin: 0;
  overflow-x: hidden;
}

* {
  user-select: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'AvenirNextLTPro-Bold', monospace;
}

a, p, span {
  font-family: 'AvenirNextLTPro-Regular', monospace;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #b7b7b7;
}

::-webkit-scrollbar-thumb:hover {
  background: #838383;
}
