$terminal-font-size: 19px;
$terminal-background-color: #131846;
$terminal-text-color: white;

body {
  background: $terminal-background-color;
  font-family: Consolas, serif;
  padding-top: 25px;
}

.header {
  background-color: #2b2b2b;
  padding: 8px;
  font-size: 16px;
  top: 0;
  width: 100%;
  z-index: 1000;
  position: fixed;

  a {
    float: left;
    text-align: center;
    padding: 8px;
    line-height: 20px;
    color: white;
  }
}

.terminal, .terminal-wrapper {
  --background: $terminal-background-color;
  --font-size: $terminal-font-size;
}

.terminal .terminal-output div span {
  font-size: $terminal-font-size;
  margin-bottom: 18px;
  color: $terminal-text-color;
}

.terminal .terminal-output>:not(.raw) a[href] {
  color: white;
  font-size: $terminal-font-size;
}

.cmd .prompt > span {
  font-size: $terminal-font-size;
  margin-bottom: 16px;
}

.cmd span[data-text] span {
  font-size: $terminal-font-size;
  color: $terminal-text-color;
}

.t {
  margin: 16px;
  word-wrap: break-word;
}

#github-btn {
  font-size: 34px;
  color: white
}