:root {
  --hue: 0deg;
}

body {
  margin: 0;
  display: grid;
  place-items: center;
  user-select: none;
  height: 90vh;
  overscroll-behavior: none;
  color: hsl(var(--hue), 100%, 90%);
  background-color: hsl(var(--hue), 100%, 15%);
}

h1 {
  text-align: center;
  font-family: 'DM Serif Display', serif;
  font-size: clamp(2em, 9vw, 10em);
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 4px;
}

p,
a {
  text-align: center;
  font-family: 'Lora', sans-serif;
  font-size: 1.2em;
}

section {
  margin: 0 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

p {
  margin: 2em 0;
}

a {
  padding: 0.2em;
  margin: 0 1em;
  color: hsl(var(--hue), 100%, 90%);
  text-decoration: none;
  position: relative;
  transition: color 0.2s ease-in-out;
}

a::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  background-color: hsl(var(--hue), 100%, 90%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: scaleY(0%);
  transform-origin: top;
  z-index: -1;
  transition: transform 0.2s ease-in-out;
}

a:hover {
  color: hsl(var(--hue), 100%, 15%);
}

a:hover::before {
  transform: scaleY(100%);
  transform-origin: bottom;
}

.links {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1em;
}

.link__development {
  margin-top: 2.5em;
}

@media screen and (max-width: 400px) {
  .links {
    flex-direction: column;
  }

  .links a {
    margin: 0.3em 0;
  }
}
