@import '../mixins/height';
@import '../mixins/fonts';

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-direction: column;

  @include full-height;
  @include font('AvenirNext');
}

.content__text {
  margin: 0;
  overflow: hidden;
}

.content__text--name {
  font-size: 10vw;
  letter-spacing: 2px;
  color: var(--heading-color);

  @include font('AvenirNext-Bold');
}

.content__link {
  position: absolute;
  bottom: 0;
  margin-bottom: 1em;
  text-decoration: none;
  color: var(--heading-color);

  &:active,
  &:visited {
    color: var(--heading-color);
  }
}
