@import '../partials/variables';

.container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 2fr;
  padding-left: 5em;
  padding-bottom: 1em;
  box-sizing: border-box;
}

.name-container {
  grid-column: 1 / 3;
  grid-row: 1 / 1;
}

.name {
  margin: 0.4em 0 0 0;
  text-transform: uppercase;
  font-size: 10vw;
  cursor: default;
  font-variation-settings: 'wght' 600, 'wdth' 115, 'slnt' -10;
  transition: font-variation-settings 500ms $ease-expo;
}

.tagline {
  grid-column: 2 / 2;
  grid-row: 2 / 2;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.tagline__text {
  font-size: 2.6vw;
  margin: 0 1em 0 0;
  font-variation-settings: 'wdth' 120;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  grid-column: 1 / 1;
  grid-row: 2 / 2;
}

.link {
  font-size: 7vw;
  text-transform: uppercase;
  // Small amount of margin prevents the text from being
  // slightly cut off on the left side of the container
  margin: 0 0 0 8px;
  transition: font-variation-settings 500ms $ease-expo;
  font-variation-settings: 'wght' 600, 'wdth' 120, 'slnt' -10;
  cursor: pointer;

  &:hover {
    font-variation-settings: 'wght' 100, 'wdth' 150, 'slnt' 0;
  }
}
