.Project_container {
  display: flex;
  flex-direction: column;
  height: auto;
}

.Project_card {
  height: 50%;
  width: 18rem;
  cursor: pointer;
  margin: 16px;
  flex: 1 1 auto;
}

.Project_card:hover {
  border: 1px solid #8a8a8a;
  transform: translateY(-5%);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
}

.Project_card-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-self: end;
}

.Project_row {
  margin: 0;
  flex: 2;
}

.Project_col {
  text-align: start;
  margin: auto;
}

// Mobile
@media screen and (max-width: 770px) {
  .Project_container {
    height: auto;

  }

  .Project_header {
    margin: 32px 0 16px 0;
  }
}

// Desktop
@media screen and (min-width: 771px) {
  .Project_container {
    height: 100vh;
  }

  .Project_header {
    margin-bottom: 8px;
  }
}
