@keyframes Project_slideIn {
  0% {
    opacity: 0;
    transform: translateY(-20%);
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    box-shadow: none;
  }
}

@keyframes Project_slideRight {
  0% {
    opacity: 0;
    transform: translateX(-30%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.Project_card-animation {
  animation: Project_slideIn 2s ease 0s forwards;
}

.Project_header-animation {
  animation: Project_slideRight 2s ease 0s forwards;
}

.Project_container {
  display: flex;
  flex-direction: column;
  height: auto;
}

.Project_card {
  height: 50%;
  width: 18rem;
  cursor: pointer;
  margin: 16px;
  flex: 1 1 auto;
  opacity: 0;
}

.Project_card:hover {
  border: 1px solid #8a8a8a;
  transform: translateY(-5%);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
}

.Project_card-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-self: end;
}

.Project_row {
  margin: 0;
  flex: 2;
}

.Project_col {
  text-align: start;
  margin: auto;
}

.Project_header {
  opacity: 0;
}

// Mobile
@media screen and (max-width: 770px) {
  .Project_header {
    margin: 32px 0 16px 0;
  }
}

// Desktop
@media screen and (min-width: 771px) {
  .Project_header {
    margin-bottom: 8px;
  }
}
