@font-face {
  font-family: 'AvenirNext';
  src: url(../assets/fonts/AvenirNextLTPro-Regular.otf);
}

@font-face {
  font-family: 'AvenirNext-Bold';
  src: url(../assets/fonts/AvenirNextLTPro-Bold.otf);
}
