@import 'mixins/fonts';
@import 'mixins/colors';

*,
*:before,
*:after {
  box-sizing: inherit;
}

::selection {
  background: $selection-bg-color;
  color: $selection-text-color;
}

html {
  // Prevents font scaling on iOS devices
  // when it's rotated
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

// Utility class to give elements the effect
// of coming out of a container when animating
.no-overflow {
  overflow: hidden;
}
