@import './variables';

@font-face {
  // This is a variable font with the following axes:
  // wght -> [100, 900]
  // wdth -> [50, 150]
  // slnt -> [-10, 0]
  font-family: 'Anybody';
  src: url('../assets/fonts/Anybody[slnt\,wdth\,wght].woff2') format('woff2-variations');
}

html,
body {
  height: 100%;
  width: 100%;
  transition: color 500ms ease-in-out, background-color 200ms ease-in-out;
}

html {
  // Prevents font scaling on iOS devices
  // when it's rotated
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  background-color: $bg-color;
  color: $text-color;
  overscroll-behavior-y: none;
}

h1,
h2,
p {
  font-family: 'Anybody', Arial, Helvetica, sans-serif;
}

a {
  color: #b0a2ff;
}

// Utility class to give elements the effect
// of coming out of a container when animating
.no-overflow {
  overflow: hidden;
}
