@import './partials/variables';

@font-face {
  // This is a variable font with the following axes:
  // wght -> [100, 900]
  // wdth -> [50, 150]
  // slnt -> [-10, 0]
  font-family: 'Anybody';
  src: url('../assets/fonts/Anybody.woff2') format('woff2-variations');
}

@font-face {
  // This is a variable font with the following axes:
  // wght -> [100, 900]
  // opsz -> [10, 100]
  font-family: 'Imbue';
  src: url('../assets/fonts/Imbue.ttf') format('truetype');
}

@font-face {
  // This is a variable font with the following axes:
  // wght -> [100, 900]
  // slnt -> [-12, 0]
  font-family: 'Epilogue';
  src: url('../assets/fonts/Epilogue.woff2') format('woff2-variations');
}

@font-face {
  // This is a variable font with the following axes:
  // wght -> [100, 900]
  // slnt -> [-12, 0]
  font-family: 'Epilogue-Italic';
  src: url('../assets/fonts/Epilogue-Italic.woff2') format('woff2-variations');
}

*::selection {
  color: $bg-color;
  background-color: $text-color;
}

html {
  // Prevents font scaling on iOS devices
  // when it's rotated
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  background-color: $bg-color;
  color: $text-color;
  overscroll-behavior: none;
}

h1,
h2,
p {
  font-family: 'Anybody', Arial, Helvetica, sans-serif;
}

// Utility class to give elements the effect
// of coming out of a container when animating
.no-overflow {
  overflow: hidden;
}

.scrollbar-track-y {
  background: transparent !important;
  width: 6px !important;
}

.scrollbar-thumb-y {
  width: 6px !important;
  background-color: $text-color !important;
}
